extends layout

block scripts
  style html, body { display: table; height: 100%; width: 100%;}
block content
  .main-container
    .main-block
      h1 <b>Twitgest</b> &mdash; your personal Twitter digest
      a.btn.btn-xlarge.btn-primary.pull-right(href='/login') Sign in with Twitter
